.home-wrap {
  background: #fff;

  .home-title {
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 30px 0 10px;
    background: #fff;
    text-align: center;
    font-size: 20px;

    .home-online {
      position: absolute;
      top: 32px;
      left: 100px;
      font-size: 18px;
      color: var(--color-link);
    }
  }
}